{%extends 'layout.html' %}
{% block content %}
<h2>Comments on my leave</h2>

{% for r in posts %}
    <div>
        <table>

            <tr>
                <th>Comment</th>
                <td>{{r[1]}} </td>
            </tr>
            <tr>
                <th>Commentor</th>
                <td>{{r[3]}} </td>
            </tr>
            
            <tr>
                <th>Commentor ID</th>
                <td>{{r[2]}} </td>
            </tr>


            <tr>
                <th>Time</th>
                <td>{{r[4]}} </td>
            </tr>


        </table>
    </div>    
{%endfor%}
            
{% endblock %}