{% extends 'layout.html' %}
{% block nav %}

<a href="{{ url_for('admin') }}"><i class="fas fa-plus"></i>Edit Path</a>

{% endblock %}
{% block content %}
<form action="{{ url_for('show_history_hod') }}" method="post">

<h2>History of HOD</h2>
<div>
    <table style="width:100%">
        <tr>
            <th>departmentname</th>
            <th>facultyid</th>
            <th>starttime</th>
            <th>endtime</th>
            <th>approved leaves</th>
        </tr>
        {% for x in items %}
            <tr>
                <td>{{x[0]}}</td>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td><a href="{{url_for('show_approved_leaves',type='hod',type2 = x[1])}}">link</a></td>
            </tr>
        {% endfor %} 
    </table> 
</div>
</form>
{% endblock %}